/* ---- Estilo para QMainWindows ---- */
QMainWindow {
    background-color: #d7eff6;
}

/* ---- Estilo para QTabWidget ---- */
QTabWidget {
    background-color: none;
}

/* ---- Estilo para QMenuBar ---- */
QMenuBar {
    background-color: whitesmoke;
    color: black;
}

/* ---- Estilo para QPushButtons (no la usaremos) ---- */
QPushButton {
    background-color: #13b2a6;
    font-weight: bold;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}